# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs / debug
*.log
*.out
*.err

# Environment variables
.env
.env.*
*.env